.col-xs-8#users-content
  - if notice
    .alert.alert-info= notice
  .list-group
    .list-group-item.user-list
      %h2 ユーザー一覧
    = div_for @users, class: "list-group-item" do |u|
      %h4.user
        %span.user-name
          = link_to render_user_name(u), user_path(u)
        %span.user-id
          @#{u.name}
        .bio
          = u.bio